{% extends 'myshopmanage/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        	{% for shopemployee in shopemployees %}
        	<div class="col-lg-4">
        		<img class=" thumbnail" src="{{shopmanager.imageURL}}">
	        		 <div class="box-element">
	        		 		<h6><strong>{{shopemployee.name}}</strong></h6>
	        		 		<h6><strong>{{shopemployee.address}}</strong></h6>
	        		 		<button>ကိုယ္ေရးအခ်က္အလက္ၾကည့္ရန္</button>
	        		 		<!--<a class="btn btn-outline-success" href="#">ၾကည့္ရွု႕ရန္</a>-->
	        		 </div>
        	</div>
        	{% endfor %}
    </div>
{% endblock content %}